@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Caprasimo&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* logo css starts here */
.image-logo {
  max-width: 100%;
  height: auto;
  width: 80px;
}

nav {
	position: fixed;
	z-index: 20;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 60px;
  background:#eee7ed;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #130f12;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 25px;
	height: 5px;
	background-color: #9c8a98;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
    nav {
        height: 100px;
    }

	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

.hero {
    position: relative;
    background: url('images/Regimen-Builder-Hero-web.webp') center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem;
    filter: brightness(1.01); /* Increases brightness by 50% */
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(203, 198, 203, 0.116) ; /* Black color with 60% opacity */
    z-index: 1; /* Ensure the overlay is behind the content */
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0rem 1.5rem;
}

.hero-content {
    color: #130f12e6;
    z-index: 2; /* Ensure the content is on top of the overlay */
}

.hero-title {
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
    font-size: 2.2rem;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out 0.5s;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: #655a61;
    background-color: #fff;
    border-radius: 5rem;
    transition: background-color 0.3s ease-in-out;
    position: relative; /* Ensure button is positioned above overlay. */
    z-index: 3; /* Higher z-index to prevent overlap issues. */
    transition: 0.4s linear;
}

.hero-button:hover {
    background-color: rgba(180, 169, 179, 0.266);
    transform: translateY(5px);
    color: #fff;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
